{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "ecmaFeatures": {
      "classes": true,
      "jsx": true
  },
  "plugins": ["react"],
  "rules": {
    "key-spacing": ["error", {
      "align": {
        "beforeColon": true,
        "afterColon": true,
        "on": "colon"
      }
    }]
  }
}
