
* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: sans-serif;
  margin: 0 auto;
  padding: 20px 0;
  width: 50%;
  max-width: 800px;
  min-width: 300px;
  font-size: 14px;
  color: #333;
  background: #fff;
}

h1, h2, ul, p {
  margin: 0 0 20px;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

li {
  margin: 0 0 10px;
  padding: 0;
}

input, select {
  display: block;
  margin: 0 0 20px -11px;
  padding: 10px;
  width: calc(100% + 22px);
  font-size: 14px;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}
